/* -------Generales---------- */

:root {
  --black: #000;
  --grey100: #f6f6f6;
  --grey200: #ebebeb;
  --grey300: #c9c9c9;
  --grey400: #ababab;
  --grey500: #7b7b7b;
  --red: #e64252;
  --yellow: #fbf7cb;
  --white: #fff;
  --principalFont: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--grey100);
  font-size: 1.6rem;
  font-family: var(--principalFont);
  color: var(--grey500);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* ------container------------ */

.container {
  width: 100%;
  max-width: 48rem;
  background-color: var(--white);
  box-shadow: 0 5px 5px 0 var(--grey300);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey200);
}

.header_h1 {
  font-weight: normal;
  font-size: 1.4rem;
  padding: 1.4rem;
}

.action {
  width: 5rem;
  padding: 0 1.4rem;
  position: relative;
  text-align: center;
}

.todocount {
  position: absolute;
  background-color: var(--red);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  border-radius: 1rem;
  right: 1.2rem;
  bottom: 1.1rem;
  padding: 0 0.4rem;
}

.action__img {
  width: 1.4rem;
}

.newtask {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey200);
}

.newtask__input {
  padding: 1.4rem;
  width: 100%;
  border: none;
  color: var(--grey500);
  font-size: 1.4rem;
}

.newtask__input::placeholder {
  font-style: italic;
  color: var(--grey400);
}

.newtask__btn {
  width: 5rem;
  padding: 0;
  border: none;
  background-color: var(--white);
  text-align: center;
}

.newtask__btn img {
  width: 0.9rem;
}

.task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey200);
}

.active {
  background-color: var(--yellow);
}

.task__item {
  display: flex;
  padding: 1.4rem;
}

.check {
  padding: 0 1rem;
}

.check__btn, .del__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.task__desc {
  width: 100%;
  padding: 1.2rem 0.8rem;
  text-align: left;
}

.task__input {
  background-color: transparent;
  border: none;
  color: var(--grey500);
  font-size: 1.4rem;
}

.complete {
  color: var(--grey400);
  text-decoration: line-through;
}

.task__action {
  width: 5rem;
  text-align: center;
  cursor: pointer;
}

.task__action__move {
  width: 0.5rem;
}

.task__action__trash {
  width: 1.7rem;
}

.clear {
  width: 100%;
}

.clear__btn {
  background-color: var(--grey100);
  width: 100%;
  border: none;
  color: var(--grey400);
  padding: 1.6rem;
  font-size: 1.4rem;
  cursor: pointer;
}
